.wrapper {
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  font-size: 14px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 100%;
  height: 46px;
  padding: 0px 10px;
  border: none;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.rightElement {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

