.App {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center;
  padding: 18px 0px;
  gap: 30px;
}

.main {
  width: 380px;
}

.birth {
  display: flex;
  gap: 4px;
  align-items: flex-end; 
}

.birth div {
  flex: 1;
}

.phonenumber {
  display: flex;
  gap: 4px;
  align-items: flex-end; 
}